<header id="fix" class="block header  fix">
	<div class="wrapper">
		<div class="column_menu">
			<div class="mainmenu"> 
				<div id="showmenu" class="showmenu"><i></i><i></i><i></i></div>
				<ul id="menulist" class="menulist">
					<li><a href="https://github.com/evocms-community" target="_blank">Новости</a></li>
					<li><a href="https://github.com/evocms-community/docs" target="_blank">Документация</a></li>
					<li><a href="https://t.me/evo_cms" target="_blank">Получить помощь</a></li>
				</ul>
			</div>
			<div class="logo">
				<a href="/"><img src="img/logo.svg" alt="Evolution CMS"></a>
			</div>
		</div>
		<div class="column_social">
			<ul class="social">
				<li ><a class="vk" href=" https://vk.com/evolutioncms"><i class="fab fa-vk"></i></a></li>
				<li ><a class="telegram" href="https://t.me/evo_cms"><i class="fab fa-telegram"></i></a></li>
				<li ><a class="youtube" href="https://www.youtube.com/@evolutionlessons"><i class="fab fa-youtube"></i></a></li>
				<li><a  class="github" href="https://github.com/evocms-community"><i class="fab fa-github"></i></a></li>
			</ul>
		</div>
	</div>
</header>